.page {
  padding: 25px 35px;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 630px;
  justify-content: center;
  height: 80vh;
}

.title {
  font-size: 50px;
  line-height: 48px;
  font-weight: 600;
}

.polytonal {
  /* font-family: "Exo", sans-serif; */
  font-size: 13vw;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    #186cb8 19%,
    transparent 19%,
    transparent 20%,
    #2a9a9f 20%,
    #2a9a9f 39%,
    transparent 39%,
    transparent 40%,
    #f1b211 40%,
    #f1b211 59%,
    transparent 59%,
    transparent 60%,
    #e83611 60%,
    #e83611 79%,
    transparent 79%,
    transparent 80%,
    #f9002f 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .polytonal {
    font-size: 6.5rem;
  }
}

.subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  line-height: 36px;
  font-weight: 600;
}

.addressContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.inputContainer {
  display: flex;
  gap: 8px;
  height: 40px;
}

.addressInput {
  display: flex;
  background-color: rgb(41, 41, 38);
  padding: 12px;
  border-radius: 8px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.addButton {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 9px 30px;
  height: 40px;
  background: 0 0;
  border-color: rgb(69, 70, 74);
  border-width: 1px;
  border-style: solid;
}

.addButton:hover {
  cursor: pointer;
  background-color: rgb(69, 70, 74);
}
