.container {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  letter-spacing: normal;
}

.container img {
  border-radius: 50%;
}

.dayContainer {
  display: flex;
  flex-direction: column;
}

.dateContainer {
  border-color: rgb(45, 45, 50);
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 12px;
}

.date {
  color: rgb(206, 206, 206);
  font-weight: 500px;
}
