.cardProfileImg {
  border-radius: 16px;
}

.cardContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.cardDataContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.cardAddress {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.cardBalance {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}

.cardAddButton {
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 9px 30px;
  height: 40px;
  background: 0 0;
  border-color: rgb(69, 70, 74);
  border-width: 1px;
  border-style: solid;
}

.cardAddButton:hover {
  cursor: pointer;
  background-color: rgb(69, 70, 74);
}

.cardButtonContainer {
  display: flex;
  align-items: center;
}

/*  */

.page {
  display: flex;
}

.mainContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px 0;
}

.main {
  max-width: 930px;
}

.tabSelectorContainer {
  margin-top: 45px;
}

.cardsContainer {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

.assetsCardContainer {
  margin-top: 30px;
}

.historyTableContainer {
  margin-top: 30px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  font-size: 20px;
}

.polytonal {
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  /* font-family: "Exo", sans-serif; */
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    #186cb8 20%,
    transparent 20%,
    transparent 20%,
    #2a9a9f 20%,
    #2a9a9f 40%,
    transparent 40%,
    transparent 40%,
    #f1b211 40%,
    #f1b211 60%,
    transparent 60%,
    transparent 60%,
    #e83611 60%,
    #e83611 80%,
    transparent 80%,
    transparent 80%,
    #f9002f 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sidebarBack {
  width: 240px;
}

.sidebar {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  padding: 15px 20px;
}

.walletContainer {
  font-size: 14px;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgb(45, 45, 45); */
}

.walletContainer:hover {
  background-color: rgb(45, 45, 45);
  color: rgb(0, 163, 245);
}

@media (max-width: 1300px) {
  .sidebar {
    display: none;
  }
  .sidebarBack {
    display: none;
  }
}

.avatar {
  border-radius: 5px;
}

.portfolio {
  font-size: 15px;
  font-weight: 500;
}
