.profileImg {
  border-radius: 16px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.balance {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}

.addButton {
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 9px 30px;
  height: 40px;
  background: 0 0;
  border-color: rgb(69, 70, 74);
  border-width: 1px;
  border-style: solid;
}

.addButton:hover {
  cursor: pointer;
  background-color: rgb(69, 70, 74);
}

.buttonContainer {
  display: flex;
  align-items: center;
}
